<% include partials/header %>

<div class="container">
    <div class="container">
        <h1 style="text-align: center">Edit <%= dish.name %></h1>
        <div style="width: 30%; margin: 30px auto">
            <form action="/food/<%= dish._id %>/?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="site[name]" value="<%= dish.name %>"></input>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="site[image]" value="<%= dish.image %>"></input>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="site[description]" value="<%= dish.description %>"></input>
            </div>            
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
            </div>
            </form>
            <a href="/food/<%= dish._id %>">Go Back</a>
        </div>

    </div>

</div>

<% include partials/footer %>