<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Where to Find</p>
            <div class="well">
                <% dish.addresses.forEach(function(address) { %>
                    <div class="row">
                        <div class="col-md-12 list-group">
                            <li class="list-group-item">
                                <%= address.text %>
                            </li>
                            <div id="addedit">
                                <% if(currentUser && dish.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-warning btn-xs" href="/food/<%= dish._id %>/addresses/<%= address._id %>/edit">Edit</a>
                                    <form class="delete" action="/food/<%= dish._id %>/addresses/<%= address._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-xs">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <hr class="hr">
                <div class="text-left">
                    <a class="btn btn-success" href="/food/<%= dish._id %>/addresses/new">Add a new location</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= dish.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">XXX - XXX USD</h4>
                    <h4><a><%= dish.name %></a></h4>
                    <p><%= dish.description %></p>
                    <p>
                        <em>Submitted by <%= dish.author.username %></em>
                    </p>
                    <% if(currentUser && dish.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning btn-xs" href="/food/<%= dish._id %>/edit">Edit</a>
                        <form class="delete" action="/food/<%= dish._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-xs">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/food/<%= dish._id %>/comments/new">Add a new comment</a>
                </div>
                <hr class="hr">
                <% dish.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.date).format('MMMM DD YYYY, h:mm:ss a') %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && dish.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-warning btn-xs" href="/food/<%= dish._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form class="delete" action="/food/<%= dish._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-xs">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <hr class="hr">
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>